*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.box{
    width: calc(100% / 3 - 10px);
    float: left;
    margin-right: 10px;
}

.origin{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.img-hover{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
}

.box:hover .origin{
    display: none;
}

.box:hover .img-hover{
    display: inline-block;
}

.sconto{
    position: absolute;
    top: 560px;

}




/* debug */

.container.debug{
    height: 1400px;
    background-color: brown;

}

.debug .box{
    height: 600px;
    background-color: chartreuse;
}