*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* regole corpo pagina */

.container{
    width: 1170px;
    margin: 10px auto;
    position: relative;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.box{
    width: calc(100% / 3 - 10px);
    float: left;
    margin-right: 10px;
    position: relative;
}

/* /regole pagina */

/* regole immagini */

.origin{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.img-hover{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
}

.box:hover .origin{
    display: none;
}

.box:hover .img-hover{
    display: inline-block;
}

/* /regole immagini */

/* regole tags immagini */

.tags{
    position: absolute;
    bottom: 75px;
}

.sconto{
    background-color: #eb0037;
    display: inline-block;
    padding: 3px;
    color: white;
}

.sostenibilità{
    position: absolute;
    left: 43px;
    background-color: #00875a;
    display: inline-block;
    padding: 3px;
    color: white;
}

.love{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: white;
    text-align: center;
    line-height: 40px;
    top: 10px;
    left: 340px;
    font-size: 20px;
}

/* /tags immagini */

/* regole descrizione immagini */

.tipo{
    text-transform: uppercase;
}

div.prezzo{
    color: red;
}

del{
    color: black;
    margin-left: 5px;
}

/* /regole descrizione immagini */

/* regole box inferiori */

.box.bottom{
    width: calc(100% / 3 - 10px);
    float: left;
    margin-right: 10px;
    position: relative;
    top: 90px;
}

.tags-bottom{
    position: absolute;
    bottom: 25px;

}

.last-sostenibilità{
    color: white;
    background-color: #00875a;
    padding: 3px;
}

/* /fine regole inferiori */




/* debug */

/* .container.debug{
    height: 1400px;
    background-color: brown;

} */

/* .debug .box{
    height: 600px;
    background-color: chartreuse;
} */